section.filters{
    height:70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

section.filters div{
    display: inline-block;
    width: 25%;
    text-align: left;
    padding-left: 30px;
    position:relative;
}

section.filters div.locations{
    border-right:1px solid #DDDDDD;
}

section.filters div.buttoncell {
    position:relative;
    left: 50px;
    bottom: 11px;
    height: 70px;
    width: 30%;
    padding-right: 30px;
    text-align: right;
    padding-bottom: 11px;

}

ul.popover{
    display:none;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position:absolute;
    left: 0;
    top: 100%;
    margin: 0;
    padding-left: 30px;
    padding-bottom: 25px;
    background-color:#FAFAFA;
    width:89%;
}

div.amenities ul.popover{
    left: -5px;
    padding-top:20px;
}

li{
    list-style:none;
}

section.filters div.locations:hover ul.popover{
    display:block;
}

section.filters div.amenities:hover ul.popover{
    display:block;
    position: absolute;
}

section.filters div h3{
    font-weight: 600;
    line-height: .6
}

section.filters div h4{
    font-weight: 400;
    font-size: 14px;
    line-height: .6;
}

section.filters button{
    font-size: 18px;
    color: white;
    background-color: #FF5A5F;
    min-height: 48px;
    width: 200px;
    border-width: 0px;
    border-style: none;
    border-radius: 4px;
}

section.filters button:hover{
    opacity: 0.9;
}